body { 
    font-family: 'Inter', 'Sarabun', sans-serif; 
    background-color: #FAFAFA; /* พื้นหลังสีขาวอมเทาจางๆ */
}

/* ลบเงาลูกศร Dropdown เดิมออก ให้ดูคลีน */
select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
    background-size: 1em 1em;
}